.card {
  display: flex;
  justify-content: center;
  width: 350px;
  border: 2px solid #d9d9d9;
  border-radius: 9px;
  transition: box-shadow 0.2s, transform 0.2s;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 2px 0px;
  }

  &[open] {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 2px 0px,
      rgba(128, 128, 128, 0.7) 0px 0px 2px 1px;

    .card__title {
      background: rgb(91, 174, 91);
      background: linear-gradient(
        140deg,
        rgba(91, 174, 91, 1) 0%,
        rgba(105, 188, 105, 1) 41%,
        rgba(223, 244, 148, 1) 100%
      );
    }
  }

  &__container {
    padding: 5px;
  }

  &__title {
    height: 90px;
    padding: 15px;
    border-radius: 7px;
    background: #5bae5b;
  }

  &__name {
    margin: 0;
    color: #ffffff;
    font-size: 30px;
  }

  &__info-item {
    margin: 20px 5px 10px;
    padding-bottom: 10px;
  }

  &__selected {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0 13px;
    font-weight: 500;
    color: #3db760;
  }
}

.info {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #dfdfdf;

  &:last-of-type {
    border-bottom: none;
  }

  &__icon {
    margin-right: 10px;
  }

  &__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #696969;
  }

  &__params {
    font-size: 18px;
  }
}
