@import './buttons.scss';
@import '../pages/subscriptions/subscrition-card/SubscriptionCard.scss';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

summary,
details,
ul,
li {
  list-style: none;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  form {
    max-width: 530px;
    width: 100%;
    text-align: center;

    h2 {
      text-align: start;
    }
  }
}

.subscribe-options__container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  min-height: 550px;
  margin-bottom: 15px;
}
